#main{


.list-group{
  size: 50px;
}

  .stick{
    display: flex;
  }

.loup{
  margin-top: 20px;
}
  .yop{
    margin-top: 30px;
    border-radius: 10px;
  }

  .bord{

    border-left: thin solid grey;


  }

  .zap{
    margin-top: 55px;
  }

  .jok{
    margin-top: 30px;
    margin-left: 15px;
  }

  .form-control{

  }

  .jab{
    width: 315;
  }

  .pad{
    margin-top: 20px;
  }


}


